language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
 - VIRTUALENV_ROOT=${VIRTUAL_ENV}
 - pip install -r test-requirements.txt
# command to run tests
script:
 - pep8 mycroftapi test
 - nose2 -t ./ -s test/unittests --with-coverage --config=test/unittests/unittest.cfg
env:
 - IS_TRAVIS=true

after_success:
  coveralls
